<div class="content-wrapper login col-xs-12">

    <h5 class="title text-center">Change password</h5>

    <form name="changePasswordForm"
          novalidate
          class="fundbird-form"
          id="change-password-form"
          data-ng-submit="vm.changePasswordFormSubmit(vm.changePasswordModel.oldPassword, vm.changePasswordModel.newPassword, vm.changePasswordModel.confirmPassword)">

        <div class="form-group"
             data-ng-class="{'has-error' : changePasswordForm.oldPassword.$invalid && changePasswordForm.oldPassword.$dirty, 'has-success' : changePasswordForm.oldPassword.$valid && changePasswordForm.oldPassword.$dirty}">
          <label for="old-password">Old password</label>
            <input type="password"
                   class="line-15 form-control col-xs-12"
                   name="oldPassword"
                   id="old-password"
                   data-ng-model="vm.changePasswordModel.oldPassword"
                   required/>

            <p class="help-block" data-ng-show="changePasswordForm.oldPassword.$invalid && changePasswordForm.oldPassword.$dirty && changePasswordForm.submitted">
                This field is required
            </p>
        </div>
        
        <div class="form-group"
             data-ng-class="{'has-error' : changePasswordForm.newPassword.$invalid && changePasswordForm.newPassword.$dirty, 'has-success' : changePasswordForm.newPassword.$valid && changePasswordForm.newPassword.$dirty}">
          <label for="new-password">New Password</label>
            <input type="password"
                   class="line-15 form-control col-xs-12"
                   name="newPassword"
                   id="new-password"
                   data-ng-model="vm.changePasswordModel.newPassword"
                   required/>

            <p class="help-block" data-ng-show="changePasswordForm.newPassword.$invalid && changePasswordForm.newPassword.$dirty && changePasswordForm.submitted">
                This field is required
            </p>
        </div>

        <div class="form-group"
             data-ng-class="{'has-error' : changePasswordForm.confirmPassword.$invalid && changePasswordForm.confirmPassword.$dirty, 'has-success' : changePasswordForm.confirmPassword.$valid && changePasswordForm.confirmPassword.$dirty}">
          <label for="confirm-password">Confirm Password</label>
            <input type="password"
                   class="line-15 form-control col-xs-12"
                   name="confirmPassword"
                   id="confirm-password"
                   data-ng-model="vm.changePasswordModel.confirmPassword"
                   required/>

            <p class="help-block" data-ng-show="changePasswordForm.confirmPassword.$invalid && changePasswordForm.confirmPassword.$dirty && changePasswordForm.submitted">
                This field is required
            </p>
        </div>

        <div data-ng-show="vm.authModel.changePasswordError" class="">
            {{ vm.authModel.changePasswordError }}
        </div>

        <button class="btn btn-warning loan-options-btn btn-block">
            UPDATE PASSWORD
        </button>

    </form>

</div>