<div class="content-wrapper home">
  <div class="section about">
    <div class="container col-xs-10 col-xs-push-1">
      <h5>Every business needs access to a ready supply of cash.</h5>

      <p>
        But, the reality of finding the right funding for your business can be a daunting, frustrating and, ultimately, unsatisfying experience – leaving you with the feeling that you may be compromising on what you really need (or worse, coming away without a funding solution).
      </p>

      <p>
        At Fundbird, we’re here to flip the equation in your favor, empowering small businesses to access the best funding for their business.
      </p>

      <p>
        We believe the process should be simple: Fill in one questionnaire, and we’ll tell you if you match the criteria for a loan, then connect you with the best option from among the UK’s top lenders. It’s quick. It’s easy. And you can be confident that you’re getting the funding that best matches what you need.
      </p>
      <h5>How it works?</h5>

      <p>
        You can apply online by completing one comprehensive form (it only takes a few minutes). Our smart self-learning algorithm analyzes your business, needs and credentials (captured on the form) then matches it with the relevant financial solution from our network of prescreened and approved lenders. Finally, we connect you to the most relevant lenders.
      </p>

      <p>
        Say goodbye to the days of being beholden to your bank manager. Say hello to a new world of personalized, small business funding.
      </p>
    </div>
  </div>
</div>